{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div class="form-group">
        <!-- Button -->
        <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> {{ 'registration.submit'|trans }}</button>
    </div>
</form>
