{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="form-group">
        <!-- Button -->
        <button type="submit" id="_submit" name="_submit" class="btn btn-primary pull-right">{{ 'change_password.submit'|trans }}</button>
    </div>
</form>
